:root{
    --font-family: 'Mulish', sans-serif;
    --primary:#141718;
    --white:#ffffff;
    --blue:#377DFF;
    --banner-color:#171D28;
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: none;
}
P{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
.img-fluid{
    max-width: 100%;
    height: 100%;
}
.w-100{
    width: 100%;
}
img{
    vertical-align: middle;
}
.common-heading h2{
    font-size: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--primary);
}
.common-btn button{
    font-size: 14px;
    color: var(--primary);
    font-family: var(--font-family);
    font-weight: 500;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--primary);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5px;
}
.common-btn button:hover .right-arrow{
    transform: rotate(-25deg);
}
/* hero part start */
#hero-section{
    background: var(--white);
}
.navbar-toggler{
    padding: 0;
    background: transparent;
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
header{
    background: var(--blue);
}
.inner-item .part-1{
    width: 85%;
}
.inner-item .part-2{
    width: 15%;
}
.inner-item .part-1 p{
    font-family: var(--font-family);
    font-size: 16px;
}
.inner-item .header-btn button{
    font-size: 14px;
    font-family: var(--font-family);
}
.header-btn button:hover .right-arrow{
   transform: rotate(-20deg);
}
.main-navbar .main-nav > li .nav-link{
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--primary);
}
.main-navbar .main-nav li .dropdown-menu{
   width: 50px;
   background: rgb(255, 255, 255);
   padding: 0;
   border: 0;
   border-radius: 0;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.397);
   z-index: 1000;
}
.main-navbar .main-nav li .dropdown-menu li{
    display:block;
}
.main-navbar .main-nav li .dropdown-menu li a{
   font-size: 16px;
   font-family: var(--font-family);
   color: var(--primary);
   font-weight: 400;
}
.dropdown-item:hover {
	background: rgba(139, 136, 136, 0.726);
}
.banner-part{
    background: var(--banner-color);
}
.banner-text{
    max-width: 350px;
}
.banner-text h1{
    font-size: 60px;
    font-family: var(--font-family);
}
.banner-text p{
    font-size: 16px;
    font-family: var(--font-family);
}
.banner-text .banner-btn a{
    width: 130px;
    height: 35px;
    background: var(--blue);
    font-family: var(--font-family);
    font-size: 14px;
}
.banner-text .banner-btn a:hover{
    box-shadow: 0 0 10px var(--blue);
}
/* hero part End */
/* brands part start */
#brands-section{
    background: var(--white);
}
.brands-header span{
    font-size: 16px;
    font-family: var(--font-family);
}
.brands-logo ul li{
    width: 140px;
    height: 50px;
}
.brands-logo ul li img{
    width: 100%;
    height:100%;
}
/* brands part End */
/* just part start */
#just-section{
    background: var(--white);
}
.just-slider{
    position: relative;
}
.just-slider .slick-dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: -70px;
    right: 30px;
}
.just-slider .slick-dots li button{
    display: none;
}
.just-slider .slick-dots li{
    width: 6px;
    height: 6px;
    background: rgb(104, 103, 103);
    border-radius: 50%;
    outline: 1px solid transparent;
    outline-offset: 1px;
}
.just-slider .slick-dots .slick-active{
    background: black;
    outline: 1px solid  rgb(104, 103, 103) ;
}
.card-group .card-body p{
    font-size: 16px;
    font-family: var(--font-family);
    text-transform: capitalize;
}
.card-group .card-body span{
    font-size: 16px;
    font-family: var(--font-family);
}
.card-group .card{
    margin: 0 20px;
}
.card-group .card .card-img{
    position: relative;
    overflow: hidden;
}
.card-group .card-img .overly-1{
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    box-shadow: 0 0 10px var(--white);
    border-radius: 5px;
    position: absolute;
    left: 5%;
    top: 5%;
}
.card-group .card-img .overly-1 a{
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: var(--font-family);
}
.card-group .card-img .overly-2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    box-shadow: 0 0 10px var(--white);
    position: absolute;
    right: -100%;
    top: 5%;
    transition: ease-in-out 0.4s;
}
.card-group .card-img .overly-2 a{
    width: 100%;
    height: 100%;
}
.card-group .card-img .overly-3{
    width: 92%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    box-shadow: 0 0 10px black;
    position: absolute;
    right: -100%;
    bottom: 5%;
    transition: ease-in-out 0.4s;
}
.card-group .card-img .overly-3 a{
    font-size: 14px;
    font-family: var(--font-family);
    border-bottom: 1px solid var(--white);
}
.card-group .card-img:hover .overly-2{
    right: 5%;
    transition: ease-in-out 0.4s;
}
.card-group .card-img:hover .overly-3{
    right: 4%;
    transition: ease-in-out 0.4s;
}
/* just part End */
/* categories part start */
#categories{
    background: var(--white);
}
.categorites-content .card .card-body h6{
    font-size: 16px;
    font-family: var(--font-family);
}
.categories-content-2{
    max-width: 700px;
    margin: 0 auto;
}
.categories-content-2 .card{
    position: relative;
    overflow: hidden;
    transition: ease-in-out 0.3s
}
.categories-content-2 .card:hover .overly{
    bottom: 0;
    transition: ease-in-out 0.3s;
}
.categories-content-2 .card .overly{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.473);
    position: absolute;
    left: 0;
    bottom: -100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
    transition: ease-in-out 0.3s
}
.categories-content-2 .card .overly h5{
    font-size: 20px;
    font-family: var(--font-family);
}
.categories-btn button{
    font-size: 14px;
    font-family: var(--font-family);
}
.categories-btn button:hover .right-arrow{
    transform: rotate(-15deg);
}
/* categories part End */
/* best-seller part start */
#seller-section{
    background: var(--white);
}
.seller-content .card{
    overflow: hidden;
    transition: ease-in-out 0.3s;
}
.seller-content .card .card-img{
    position: relative;
}
.seller-content .card .card-img .overly-1{
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    position: absolute;
    left: 5%;
    top: 5%;
    box-shadow: 0 0 10px var(--white);
    border-radius: 8px;
}
.seller-content .card .card-img .overly-1 a{
    font-size: 14px;
}
.seller-content .card .card-img .overly-2{
    width: 50%;
    height:30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: -100%;
    top: 5%;
    transition: ease-in-out 0.3s;
}
.seller-content .card .card-img .overly-2 a{
    width: 30px;
    height: 30px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seller-content .card .card-img .overly-2 .offer a{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--white);
    width: 55px;
    height: 25px;
    background-color: green;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--white);
}
.seller-content .card .card-img .overly-3{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: -110%;
    transition: ease-in-out 0.3s;
    box-shadow: 0 0 10px var(--banner-color);
}
.seller-content .card .card-img:hover .overly-2{
    right: 5%;
    transition: ease-in-out 0.3s;
}
.seller-content .card .card-img:hover .overly-3{
    right: 5%;
    transition: ease-in-out 0.3s;
}
/* best-seller part End */
/* hundreds part start */
#hundreds-section{
    background: var(--white);
}
.hundreds-text{
    max-width: 300px;
}  
.hundreds-text span{
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--blue);
}
.hundreds-text h5{
    font-size: 35px;
    font-family: var(--font-family);
}
.hundreds-text p{
    font-size: 16px;
    font-family: var(--font-family);
}
/* hundreds part End */
/* video part start */
#video-section{
    background: var(--white);
}
.video-header span{
    color: var(--blue);
    font-size: 16px;
    font-family: var(--font-family);
}
#video-section .video-part{
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
}
/* video part End */
/* article part start */
#article-section{
    background: var(--white);
}
.article-image .card .card-body h5{
    font-size: 16px;
    font-family: var(--font-family);
}
/* article part End */
/* instagram part start */
#instagram-section{
    background: var(--white);
}
/* instagram part End */
/* service part start */
#service-section{
    background-color: var(--white);
}
.service-content .card .icon{
    width: 35px;
    height: 35px;
}
.service-content .card .icon img{
    width: 100%; 
    height: 100%;
}
.service-content .card .card-body h5{
    font-size: 16px;
    font-family: var(--font-family);
}
.service-content .card .card-body p{
    font-size: 12px;
    font-family: var(--font-family);
}
/* service part End */
/* footer part start */
footer{
    background: var(--white);
}
.footer-logo address span{
    font-size: 16px;
    font-family: var(--font-family);
}
.footer-logo a{
    font-size: 16px;
    font-family: var(--font-family);
}
.footer-item h6{
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--primary);
    padding-bottom: 20px;
    text-transform: capitalize;
}
.footer-item ul li a{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--primary);
}
.footer-item p{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--primary);
}
.newsletter{
    max-width: 300px;
}
.newsletter form{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.247);
}
.newsletter form input::placeholder{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--primary);
}
.newsletter form .form-btn a{
    width: 30px;
    height: 30px;
    background: var(--blue);
}
.copyright .text p{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--primary);
}
.copyright ul li a{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--primary);
}
.copyright .payment ul li{
    width: 40px;
    height: 40px;
}
.copyright .payment ul li a{
    width: 100%;
    height: 100%;
}
/* footer part End */

